
///////////////////////////////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

///////////////////////////////////////////////////
// SEARCH

.search {
    flex: 0 0 40%; //no grow, no shrink, 40% of parent
    display: flex;
    align-items: center; //centers elements along cross axis
    justify-content: center; //centers elements along main axis

    @media only screen and (max-width: $breakpoint-smallest) {
        order: 1; //last
        flex: 0 0 100%; //no shrink, no growth, 100% width
        background-color: var(--color-grey-light-2);
    }

    &__input {
        // font things don't automatically pull
        font-family: inherit;
        font-size: inherit;
        color: inherit;

        background-color: var(--color-grey-light-2);
        border: none;
        padding: 0.7rem 2rem;
        border-radius: 100px;
        width: 80%;
        margin-right: -3.25rem; //makes button appear on top of search bar

        transition: all 0.2s;

        &:focus {
            outline: none;
            width: 90%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-5);
        }
    }

    &__input:focus + &__button { //when input is focused, select adjacent sibling button element
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); // color svg element
    }
}


///////////////////////////////////////////////////
// USER NAV

.user-nav {
    display: flex;
    align-items: center; //center items along cross axis
    align-self: stretch; //stretch to fill parent height

    & > * { // all direct children of user-nav
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center; //center items along cross axis
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.85rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: #fff;

        position: absolute;
        top: 1.5rem;
        right: 1rem;

        //center text within notification bubble--apparently this works!?
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    } 
}


///////////////////////////////////////////////////
// SIDE NAV

.side-nav {
    font-size: 1.4rem;
    list-style: none; //remove bullets
    margin-top: 3.5rem;

    @media only screen and (max-width: $breakpoint-medium) {
        display: flex; //forces items to be side by side if screen is small
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @media only screen and (max-width: $breakpoint-medium) {
                margin-bottom: 0; //remove margin when nav bar is horizontal
            }
        }

        @media only screen and (max-width: $breakpoint-medium) {
            flex: 1; //max growth
        }
    }

    &__item::before { //add pseudoelement before list item
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);

        transform: scaleY(0);
        transition: transform 0.2s,
                    width 0.3s cubic-bezier(1,0,0,1) 0.2s; //0.2s delay, which is second value
                    background-color: 0.1s;
    }

    &__item:hover::before,  //when hover over item, choose the before pseudoelement
    &__item--active::before { //also style the current active item
        transform: scaleY(1); //grow in y direction, starting from center (transform-origin is center by default)
        width: 100%;
    }

    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none; //remove underline
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        
        display: flex;
        align-items: center; //align icons and text

        position: relative;
        z-index: 10; //zindex only works if position is specified

        @media only screen and (max-width: $breakpoint-medium) {
            justify-content: center; //center text when horizontal bar
            padding: 2rem;
        }

        @media only screen and (max-width: $breakpoint-small) {
            flex-direction: column;
            padding: 1.5rem 0.5rem;
        }
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; //color of parent element - var(--color-grey-light-1);
                            //ensure icon stays same color as text

        @media only screen and (max-width: $breakpoint-small) {
            margin-right: 0;
            margin-bottom: 0.7rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

// legal text
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);

    @media only screen and (max-width: $breakpoint-medium) {
        display: none;
    }
}


///////////////////////////////////////////////////
// GALLERY

.gallery {

    display: flex;

    &__photo {
        width: 100%;
        display: block; //prevent small space from showing up underneath
    }
}


///////////////////////////////////////////////////
// HOTEL OVERVIEW

.overview {

    border-bottom: var(--line);
    display: flex;
    align-items: center;

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: $breakpoint-small) {
            font-size: 1.8rem;
            padding: 1.25rem 2rem;
        }
    }

    &__stars {
        //flex: 1; //this flex item should grow and occupy all available space
        margin-right: auto; //does same thing as above, but keeps actual width of element to a minimum
        display: flex; //removes small space underneath stars, which is there by default if the stars are treated like text
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem;

        //ensure location pin and location name are aligned using flex
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: 0.25rem;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch; //override center alignment to make stretch
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $breakpoint-small) {
            padding: 0 1.5rem;
        }
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px;

        @media only screen and (max-width: $breakpoint-small) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: 0.8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $breakpoint-small) {
            padding: 0.5rem;
        }
    }
}


///////////////////////////////////////////////////
// INLINE BUTTON

.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor; //ensure border has same color as text
    background-color: transparent;
    padding-bottom: 2px;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;

    & span {
        margin-left: 3px;
        transition: margin-left 0.2s;
    }
    
    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite; //infinite keyword
    }
}

//infinite animation
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0,0.25); //x-offset, y-offset, blur, color/transparency
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


///////////////////////////////////////////////////
// DESCRIPTION
.paragraph:not(:last-of-type) { //last p element will not have this styling
    margin-bottom: 2rem;
}

.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--line);
    border-bottom: var(--line);

    display: flex;
    flex-wrap: wrap; //allows flex children to wrap

    &__item {
        flex: 0 0 50%; //use flex, not width, to enforce width/two elements side by side
        margin-bottom: 0.7rem;
    }

    // use SVG in CSS rather than HTML, to reduce repetition of SVG
    &__item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.4rem;

        //masking in older browsers
        background-image: url(../img/chevron-thin-right.svg);
        background-size: cover;

        //masking in newer browsers
        //defines an area where we can look through and see behind an element
        //basically like using the chevron as a paper cutout
        @supports (-webkit-mask-image: url()) or (mask-image: url()) {
            background-color: var(--color-primary);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover; //ensure entire chevron shows
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover; //ensure entire chevron shows
            background-image: none; //undo background-image setting from older browsers
        }
        
    }
}

.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;
    justify-content: space-between; 
        // or could put "margin-right: auto" in the &__count styling

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        border: 3px solid #fff;
        box-sizing: content-box; //reset to default in this scenario, since we do not want the border to be included in the img width/height

        &:not(:last-child) {
            margin-right: -2rem;
        }
    }
}


///////////////////////////////////////////////////
// REVIEWS
.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width: $breakpoint-medium) {
        padding: 2rem;
        margin-bottom: 2.5rem;
    }

    &__text {
        margin-bottom: 2rem;
        z-index: 10; //set to higher than the bg quotation mark
        position: relative; //need to set position in order for z-index to work
    }

    &__user {
        display: flex;
        align-items: center; //align vertically
    }

    &__photo {
        border-radius: 100%;
        height: 4.5rem;
        width: 4.5rem;
        margin-right: 1rem;
    }

    &__user-box {
        margin-right: auto;
    }

    &__user-name {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }

    &__user-date {
        font-size: 1rem;
        color: var(--color-grey-dark-3);
    }

    &__rating {
        color: var(--color-primary);
        font-size: 2.2rem;
        font-weight: 200;
    }

    &::before {
        content: "\201C"; //css-tricks.com/snippets/htmml/glyphs
        position: absolute; //absolute positioning, + needed for z-index to work
        top: -2.75rem;
        left: -0.75rem;
        font-size: 20rem;
        color: var(--color-grey-light-2);

        font-family: sans-serif;
        line-height: 1;
        z-index: 1;
    }
}


///////////////////////////////////////////////////
// CTA (CALL TO ACTION)
.cta {
    padding: 3.5rem 0;
    text-align: center;

    @media only screen and (max-width: $breakpoint-medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    overflow: hidden; //hide overflowing invisible span
    cursor: pointer;

    & > * { //all child elements
        height: 100%;
        width: 100%;
        display: inline-block; //needed for padding to work
        transition: all 0.2s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        position: absolute;
        padding: 2rem 0; //cannot use 7.5rem on sides because will compress text and make it appear in the button when it shouldn't
        left: 0;
        top: -100%; //move up exactly the size of the element
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}



