
.container {
    max-width: 120rem; //can decrease if screen doesn't have enough space
    min-height: 50rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    @media only screen and (max-width: $breakpoint-largest) { //max-width because this is desktop-first
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between; // align along main axis
    align-items: center;

    @media only screen and (max-width: $breakpoint-smallest) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $breakpoint-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; // flex-grow, flex-shrink, flex-basis (width)
    display: flex;
    flex-direction: column; //switch axes
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;
    flex: 1; // grow horizontally as much as possible
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem; //inherited by description and user-reviews

    @media only screen and (max-width: $breakpoint-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $breakpoint-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%; //no grow, no shrink, 60% width
    margin-right: 4.5rem;

    @media only screen and (max-width: $breakpoint-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $breakpoint-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; //occupy remaining space
    display: flex;
    flex-direction: column;
    align-items: center; //default is stretch
}
